.articulos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cantidades {
    display: flex;
    align-items: center;
}

.btn_mas {
    background-color: aquamarine;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-right: .5rem;
    cursor: pointer;
}

.btn_menos {
    background-color:  #f5b7b1;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-left: .5rem;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: end;
}

.total_pagar_flex {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: #aed6f1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
}

.boton_pagar {
    background-color:  #76d7c4;
    border: none;
    border-radius: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: .5rem 1rem;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.boton_pagar:hover {
    color: azure;
    border: solid 2px black;
    text-decoration: underline;
}

.leyenda_total_pagar, .total_pagar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.total_pagar {
    margin-top: 0;
}