
.contenedor {
    padding-left: 5%;
    padding-right: 5%;
}

.navegacion {
    display: flex;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #6e2c00;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.enlace {
    color: #6e2c00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-image: url(../img/banner-guitarras2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.promo_mes {
    color: #48c9b0;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.imagen_logo {
    width: 100px;
}

.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.guitarras, .bajos {
    display: flex;
    gap: 2rem;
}

.titulo_seccion {
    background-color: #6e2c00;
    display: inline-block;
    color: azure;
    padding: .5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.guitarra, .bajo, .producto {
    display: flex;
    flex-direction: column;
    width: 213px;
    box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.29);
    -webkit-box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.29);
}

.descripcion, .precio {
    margin-top: 0;
    margin-bottom: 0;
}

.descripcion {
    color:  #b2babb;
}

.precio {
    color: black;
    font-weight: bold;
}

.btn_agregar {
    background-color: #6e2c00;
    color: azure;
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.iconos {
    display: flex;
    align-items: start;
}

.icono_carrito {
    display: flex;
    align-items: start;
}

.cantidad_productos_carrito {
    margin: 0;
    border-radius: 5rem;
    border: solid 2px #7f5345;
    display: inline-block;
    padding: 2px 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    background-color: black;
    color: gold;
}